@import "./base/mixins";
@import "./global/global";

.header{
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptiv-value("padding-left", 39, 0, 1);
        @include adaptiv-value("height", 117, 53, 1);
        @include adaptiv-font(18,14,1); 

        &__logo{
            display: block;    
            @include adaptiv-value("margin-right", 183, 100, 1);
            @include adaptiv-value("width", 183, 97, 1);
        }
        
        &__list{
            display: flex;
            justify-content: space-between;
            min-width: 467px;
            padding: 0;
            &_item{
                list-style: none;
                a{
                    text-decoration: none;
                    color: $mainTextColor;
                    font-weight: 700;
                    line-height: 1.2;
                }
            }
            @media (max-width: $maxWidthContainer){
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                @include adaptiv-value("max-width", 656, 250, 1);
                height: 70vh;
                padding: 20px;
                background: #FFFFFF;
                transform: translateX(100%);
                transition: transform 0.5s; 
                z-index: 9;
                &.active{
                    transform: translateX(0);
                    display: block;
                }
                &_item{
                    padding: 15px 0;
                }
            }       
        }   
        &__contacts{
            line-height: 1.2;
            font-weight: 400;
            a{
                color: $mainTextColor;
                text-decoration: none;
                display: block;
            }
            @media (max-width:$md2){
                display: none;
            }
        }
        &__icon{
            @include adaptiv-value("max-width", 130, 47, 1);
            display: flex;
            justify-content: space-between;
            &_item{
                @include adaptiv-value("width", 55, 20, 1);
                @include adaptiv-value("height", 55, 20, 1);
                @include bg;
                &:first-child{
                    @include adaptiv-value("margin-right", 17, 6, 1);

                }
            }
        }
        &__btn{
            display: none;
            @media (max-width:$maxWidthContainer){
                display: block;
                @include adaptiv-value("width", 40, 16, 1);
                @include adaptiv-value("height", 40, 16, 1);
                position: relative;
                z-index: 10;
                overflow: hidden;
                @include adaptiv-value("margin-right", 19, 0, 1);
                span{
                    @include adaptiv-value("width", 40, 16, 1);
                    height: 2px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #222222;
                    transition: all 0.5s;
                    &:nth-of-type(2){
                        top: calc(50% - 5px);
                    }
                    &:nth-of-type(3){
                        top: calc(50% + 5px);
                    }
                }
            }
          
        }
    }
}